/**
* Table of Contents
* - Header
* - Footer
* - Homepage
* - Product Archives
* - Product Taxonomies
*
* - Modules
*
*/

// Header 

header {
	div.header-top {
		background-color: $gray;
		padding: 0.5rem 0;
		form {
			input[type="text"] {
				font-size: 0.75rem;
				padding: 5px 0;
				line-height: 1;
				background-color: transparent;
				margin-bottom: 0;
				border: 0;
				border-bottom: 1px solid $white;
				height: auto;
			}
			input[type="submit"] {
				margin-bottom: 0;
			}
		}
		.menu {
			margin-bottom: 0;
			a {
				color: $white;
				font-size: 0.75rem;
			}
		}
	}
	.tagline {
		font-weight: bold;
		font-style: italic;
		color: $red;
		font-size: 1.5rem;
		text-align: right;
	}
	.header-logo-tagline {
		padding: $global-padding 0;
	}
	.logo {
		max-height: 46px;
	}
	nav {
		background: $light-gray;
		ul.menu {
			li {
				a {
					display: inline-block;
					vertical-align: middle;
					margin-bottom: 0;
					line-height: 0.8;
					// font-weight: bold;
					font-style: italic;
					color: $red;
					font-size: 1rem;
					text-align: center;
					.league-logo, .team-logo {
						max-width: 16px;
						line-height: 0.8;
						margin-bottom: 0;
						height: auto;
						display: inline-block;
						margin-right: 5px;
						vertical-align: middle;
					}
				}
				// position: relative;
				&:after {
					// content: '';
					// display: inline-block;
					// width: 1px;
					// height: 10px;
					// background-color: $dark-gray;
					// margin: 0 auto;
					// position: absolute;
					// transform: translateY(-50%);
				}
			}
		}
	}

	ul.col-3 {
		-moz-column-count: 3;
		columns: 3;
		column-count: 3;
		column-fill: auto;
		display: block;
		width: 100%;
		max-height: 315px;
		li {
			display: block;
		}
	}
	ul.col-4 {
		-moz-column-count: 4;
		column-count: 4;
		columns: 4;
		column-fill: auto;
		display: block;
		width: 100%;
		max-height: 315px;
		li {
			display: block;
		}
	}
}

// Team Taxonomy

// .team-color-intro {
// 	// background-color: #fefdff;
// 	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(0,0,0,0.25)' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
// 	h1 {
// 		margin-left: 200px;
// 	}
// 	&.dark {
// 		h1 {
// 			color: $white;
// 		}
// 	}
// 	&.light {
// 		h1 {
// 			color: $black;
// 		}
// 	}
// }

/**
 * Footer
*/

footer {

	section.categories {
		background: darken($dark-gray, 25%);
		padding: $global-padding * 3;
		.cell {
			background-color: $white;
			min-height: 250px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: $global-padding;
			p {
				position: absolute;
				width: 95%;
				left: 50%;
				bottom: $global-padding * 0.5;
				transform: translateX(-50%);
				font-weight: bold;
				color: $black;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}
		img {
			max-width: 125px;
			max-height: 125px;
			height: auto;
			width: auto;
			padding-bottom: $global-padding;
		}

	}

	section.company-info {
		background-color: $red;
		padding: $global-padding * 2;
		color: $white;
		a {
			color: $white;
		}
		h4 {
			font-size: 1.125rem;
		}
		p {
			font-size: 0.75rem;
		}
		ul.menu {
			li:first-of-type {
				a {
					padding-left: 0;
				}
			}
		}
		ul.menu.vertical {
			li {
				a {
					font-size: 0.75rem;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	section.sub-footer {
		background-color: darken($red, 10%);
		color: $white;
		padding: $global-padding;
		p {
			text-transform: uppercase;
			margin-bottom: 0;
			letter-spacing: 2px;
		}
	}
}



/**
 * Modules
 */

 /**
 * Account Pages
 */

 body.woocommerce-account {
 	main {
 		border-top: 4px solid $red;
 		background-color: $light-gray;
 	}
 }

/**
* Promo Banner
*/

 section.promo-banner {
 	background-color: $black;
 	color: $white;
 	font-weight: bold;
 	text-align: center;
 	text-transform: uppercase;
 	padding: $global-padding * 0.5 0;
 	h1, h2, h3, h4, h5, h6 {
 		margin-bottom: 0;
 		letter-spacing: 2px;
 	}
 }

 /**
  * Product Background
  */

 section.products {
 	background-color: $light-gray;
 	padding: $global-padding * 2 0;

 	article.product {
 		background-color: $white;
 		// margin-bottom: $global-margin;
 		a.button {
 			margin-bottom: 0;
 		}
 	}
 }

 /**
  * Filter
  */

 aside.team.sidebar {
 	p {
 		color: $white;
 		margin-bottom: 0;
 	}
 	span.label {
 		background-color: $light-gray;
 		color: $dark-gray;
 		margin-bottom: $global-margin;
 	}
 	h3 {
 		background-color: $black;
 		color: $white;
 		padding: $global-padding * 0.5;
 		font-size: 1.125rem;
 		margin-bottom: 0;
 		font-style: italic;

 	}
 	background-color: lighten($black, 20%);
 	h4 {
		color: $white;
		margin-bottom: 0;
		font-size: 1rem;
 	}
 	hr {
 		border-color: $white;
 		margin-top: 0;
 		margin-bottom: $global-margin;
 	}
 	li label {
 		color: $white;
 	}
 	ul {
 		margin-bottom: $global-margin * 2;
 	}
 }

 /**
  * Team Title Bar
  */

 section.team-color-intro {
 	overflow: hidden;
 	position: relative;
 	padding: $global-padding * 2 0;
 	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(0,0,0,0.25)' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
 	h1 {
 		text-transform: uppercase;
 		letter-spacing: 5px;
 		font-weight: bold;
 		margin-bottom: 0;
 		font-size: 2.5rem;
 		margin-left: 150px;

 	}
 	&.dark {
 		h1 {
 			color: $white;
 		}
 	}
 	&.light {
 		h1 {
 			color: $black;
 		}
 	}
 	.team-logo {
		position: absolute;
		bottom: 0;
		left: -90px;
		// width: 400px;
		// height: auto;
		height: 320%;
		width: auto;
		bottom: 20px;
		transform: translateY(54%);
 	}
 }

 article.taxonomy-product_cat {
 	background-color: $white;
 	img {
 		padding: $global-padding;
 	}
 	h2 {
 		text-transform: uppercase;
 		font-size: 1.25rem;
 		letter-spacing: 4px;
 		margin: 10px 0;
 	}
 	a.button {
 		&.dark {
 			color: $white;
 			&:after {
 				content: '';
 				position: absolute;
 				top: 0;
 				right: 0;
 				bottom: 0;
 				left: 0;
 				background-color: rgba($black, 0.1);
 				opacity: 0;
 				cursor: pointer;
 				transition: opacity ease-out 0.25s;
 			}
 		}
 		&.light {
 			color: $black;
 		}
 		position: relative;
 		
 		&:hover {
 			&:after {
 				opacity: 1;
 			}
 		}
 	}
 }

 // Product Thumbnails

 .flex-control-nav {
 	display: flex;
 	list-style: none;
 	text-align: center;
 	align-items: center;
 	justify-content: center;
 	li {
 		display: inline-block;
 		max-width: 150px;
 	}
 }

 /**
  * Add to wishlist
  * 
  */
 
 .tinvwl_add_to_wishlist_button {
 	@include button-style($dark-gray, darken($dark-gray, 10%), $white);
 	padding: 20px;
 	width: 100%;
 	text-align: center;
 }

 /**
 * Hover Up
 */

 .hover-up {
 	transition: transform ease 0.33s, box-shadow ease-out 0.25s;
 	&:hover {
 		transform: translateY(-10px);
 		box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.25);
 	}
 }

 /**
  * Header Slider
  */
 
 .featured-product-slider {
 	position: relative;
 	padding: 0 50px 50px 50px;
 	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;
		font-size: 0;
		cursor: pointer;
		padding: 18px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
 	}
 	.slick-prev {
 		left: 0;
 		background-image: url('../../images/icon-prev.svg');
 		
 	}
 	.slick-next {
 		right: 0;
 		background-image: url('../../images/icon-next.svg');
 	}
 	.slick-dots {
 		display: flex;
 		list-style: none;
 		padding: 0;
 		margin: 0;
 		flex-direction: row;
 		justify-content: center;
 		text-align: center;
 		li {
 			text-align: center;
 			flex: 0;
 			margin: 0 10px;
 			button {
 				font-size: 0;
 				padding: 5px;
 				border-radius: 50px;
 				cursor: pointer;
 				background-color: $red;
 				position: relative;
 				&:after {
 					content: '';
 					position: absolute;
 					top: -5px;
 					right: -5px;
 					bottom: -5px;
 					left: -5px;
 					border: 2px solid $red;
 					border-radius: 30px;
 					transform: scale(0);
 				}
 			}
 			&.slick-active {
 				button:after {
 					transform: scale(1);
 				}
 			}

 		}
 	}
 }

 /**
  * Top Ten slider
  * 
  */
 
.top-ten-slider {
 	position: relative;
 	padding: 0 50px;
 	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;
		font-size: 0;
		cursor: pointer;
		padding: 18px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
 	}
 	.slick-prev {
 		left: 0;
 		background-image: url('../../images/icon-prev.svg');
 		
 	}
 	.slick-next {
 		right: 0;
 		background-image: url('../../images/icon-next.svg');
 	}
}

 /**
  * Deal Banner Cell
  */
 
 .deal-banner-cell {
 	background-size: cover;
 	background-position: center center;
 	background-repeat: no-repeat;
 	// padding: 0 $global-padding;
 	@include breakpoint(large up) {
 		// width: calc(50% - #{$global-padding} * 2) !important;
 		width: 50% !important;
 	}
 	display: flex;
 	align-items: stretch;
 	position: relative;

 }

 .deal-banner {
 	align-self: stretch;
 	position: relative;
 	width: 100%;
 	&:not(.footer) {
 		height: 100%;	
 	}
 	
 	background-size: cover;
 	background-position: center center;
 	background-repeat: no-repeat;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	color: $white;
 	flex-direction: column;
 	h1, h2, h3, h4, h5, h6, a {
 		display: block;
 		color: $white;
 		position: relative;
 		z-index: 3;
 	}
 	h3 {
 		letter-spacing: 5px;
 		text-transform: uppercase;
 		font-weight: 300;
 	}
 	h2 {
 		text-transform: uppercase;
 		font-weight: 800;
 	}
 	a {
 		font-size: 1.5rem;
 		text-transform: uppercase;
 		font-weight: 300;
 		letter-spacing: 5px;
 	}
 	&:after {
 		position: absolute;
 		content: '';
 		top: 0;
 		right: 0;
 		bottom: 0;
 		left: 0;
 		z-index: 1;
 		background-color: rgba($black, 0.5);
 	}
 	&.footer {
 		padding: $global-padding;
 		min-height: 400px;
 	}
 }

 .blog-placeholder-featured {
 	min-height: 300px;
 	background-color: $red;
 	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(0,0,0,0.25)' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");

 }