.screen-reader-text {
	display: none;
}

.mega-menu {
  .dropdown-pane {
    width: 100%;
    // max-width: 85rem;
    margin: 0 auto !important;
    left: 0% !important;
    right: 0% !important;
  }

  .menu {
    background: none;
  }

  > a::after {
    // display: inline-block;
    // vertical-align: middle;
    // width: 0;
    // height: 0;
    // border: inset 6px;
    // content: '';
    // border-bottom-width: 0;
    // border-top-style: solid;
    // border-color: #1779ba transparent transparent;
    // margin-left: 10px;
    // margin-top: 0;
  }
}

// Buttons

.button {
  background-color: $red;
  &:hover, &:focus, &:active {
    background-color: darken($red, 10%);
  }
  &.outline {
    background-color: rgba($red, 0);
    border: 2px solid $red;
    color: $red;
    font-weight: bold;
    &:hover {
      background-color: rgba($red, 0.125);
    }
    &.white {
      background-color: rgba($white, 0);
      color: $white;
      border: 2px solid $white;
      &:hover {
        background-color: rgba($white, 0.125);
      }
    }
  }
}

/**
 * ToolTips
 * 
 */

.has-tip {
  border-bottom: 0;
}

// Fonts

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
	font-family: 'Roboto Condensed', sans-serif;
}

.red {
  color: $red;
}

a.red {
  &:hover {
    color: darken($red, 10%);
  }
}

// Padding

.pad-small {
  padding: $global-padding 0;
}

.pad-medium {
  padding: $global-padding * 4 0;
}

.pad-large {
  padding: $global-padding * 8 0;
}

.pad-full-small {
  padding: $global-padding;
}

.pad-full-medium {
  padding: $global-padding * 4;
}

.pad-full-large {
  padding: $global-padding * 8;
}

//Margins

.no-mb {
  margin-bottom: 0;
}

.margin-bottom-small {
  margin-bottom: $global-margin;
}

.margin-bottom-medium {
  margin-bottom: $global-margin * 4;
}

.margin-bottom-large {
  margin-bottom: $global-margin * 8;
}

.no-mb {
  margin-bottom: 0;
}

// Backgrounds 

.white-bg {
  background-color: $white;
}

.relative {
  position: relative;
}

.shadow {
  box-shadow: 0 15px 10px -10px rgba(0,0,0,0.15);
}

.red-bd-top {
  border-top: 10px solid $red;
}

.red-bd-left {
  border-left: 10px solid $red;
}